<div *ngIf="!showDemo(); else other_content" class="row aligner">
    <div class="col-md-6 main text-center">
        <p>
            Zenaclean è un sistema innovativo in cui i protagonisti sono i cittadini. <br>Ogni cittadino può segnalare un
            problema e/o votare le segnalazioni di altri.<br> La partecipazione attiva dei cittadini viene ricompensata
            tramite moneta virtuale, spendibile nel proprio comune in differenti modi.
        </p>
        <button id="demoButton" type="submit" class="btn btn-primary btn-lg" (click)="setDemo()">Prova ora</button>
    </div>
    <div class="col-md-6">
        <app-signup-form></app-signup-form>
    </div>
</div>
<ng-template #other_content>
    <div>
        <app-reports-board></app-reports-board>
    </div>
</ng-template>
