.aligner {
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    background-image: url("../../Assets/genova.png");
}

img {
    height: 200px;
    width: 200px;
}