.form-group{
    margin-top: 10px;
    margin-right: 10px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #FFF;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.login-button{
    min-height: 80%;
    background-color: gainsboro;
    color:black;
    width: 7vw;
    height:5vh;
    border: 2px solid #202020;
    border-radius: 5px;
}