<header class="navbar">
      <div class="navbar-brand">
          <img src="../../assets/logo2.png" style="width: 40px;" (click)="hideDemo()">
        Zenaclean
      </div>

      <div *ngIf="!isLogged(); else other_content" class="login-form">
        <app-login-form></app-login-form>
      </div>

      <ng-template #other_content>
          <button id="profileButton" class="btn btn-primary btn-sm " (click)="setViewProfile()">
              {{  getViewProfile() ? 'Torna alla mappa' : 'Il mio profilo' }}
          </button>
      </ng-template>

</header>