.navbar {
    background-color: #3F51B5;
    height: 9vh;
    min-height: 70px;
    padding: 0 1rem;
}

.navbar-brand{
    color:white;
}

.login-form{
    float:right;
}

img {
    cursor: pointer;
}
