<div id="wrapper">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="12" (centerChange)="centerChange($event)">
        <agm-marker  (markerClick)="closeOthers(info)"*ngFor="let report of reports" [latitude]="report.latitude" [longitude]="report.longitude">
            <agm-info-window  #info >
                <div class="marker-callout" (click)="markerClick(report)" >
                    <div class="callout-info-container">
                        <div class="callout-title">{{ report.title }}</div>
                        <div class="callout-timestamp">{{ report.date }} alle {{ report.time }}</div>
                    </div>
                    <div class="callout-photo-container">
                        <img src="{{ report.url != null ? report.url : '/assets/default_pic.png' }}" alt="Immagine non trovata" class="callout-img" />
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
    <div class="over_map">
        <button id="add_report_button" type="button" class="btn btn-light" (click)="formView()">Aggiungi Segnalazione</button>
    </div>
</div>
<!-- <div id="map" class="map"></div> -->