agm-map {
  height: 100vh;
}

div.marker-callout:hover {
  cursor: pointer;
}

.callout-info-container {
  flex-direction: column;
}

.callout-title {
  font-weight: bold;
  color: #009688;
}

.callout-timestamp {
  color: gray;
}

.callout-photo-container {
  padding: 10px;
  padding-left: 0;
}

.callout-img {
  width: 50px;
  height: 50px;
}

* {
  font-family: Roboto;
}

a {
  color: darkblue;
}

.wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
}

.over_map {
  position: absolute;
  bottom: 25px;
  right: 70px;
}

.btn_add_report {
  color: white;
  background-color: #3F51B5;
  border-color: #3F51B5;
}

