.title {
  font-weight: bold;
  word-break: break-all;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background: #FAFAFA;
  border-radius: 0px;
  margin-bottom: 4%;
  display: grid;
  box-shadow: 4px 4px #DFDFDF;
}


p {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 14px;
}

.report_descrition {
  margin: 0;

}

div.sidebar {
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

div#fixed {
  padding: 10px;
}



img {
  height: 150px;
  width: 100%;
  object-fit: fill;

}

.photo {
  padding:0;
  height: 100%;
  width: 100%;
}

.info {
  padding: 0;
  height: 100%;
  width: 100%;
}

.report_title {
  text-align: center;
  color: white;
  margin: 0;
}

.content_info {
  margin: 0;
  padding: 1em;
  height: 100%;
}

.title_single_report {
  background-color: dodgerblue;
  padding:12px;
}

.date {
  margin: 0;
  vertical-align: bottom;
  color: #9E9E9E;
}

.info_details {
  height: 80%;
}

.info_date {
  height: 20%;
}

/*f4a152*/