<div class="sidebar" >

 <!-- <div id="fixed">
    <h1> Segnalazioni: </h1>
  </div>-->

  <div id="scrollable">

    <ul *ngIf="reports.length>0; else other_content">
      <li *ngFor="let report of reports; let first = first;" (click)="open(report)">
        <!--<div class="title_single_report">-->
        <div [ngClass]=" (newReport && first) ? 'title_new_report' : 'title_single_report'">
          <h4 class = "report_title">{{ report.title }} </h4>
        </div>
        <div class="row content_info">
          <div class="info col-7">
            <div class = "info_details col-sm-12">
              <p> {{ report.address}}</p>
              <p class="report_description"> {{ report.description.length>40? report.description.substring(0,40)+'...' : report.description }}</p>
            </div>
            <div class = "info_date col-sm-12">
              <p class="date">{{report.date}}</p>
            </div>
          </div>
          <div class="photo col-5">
            <img alt="Immagine non trovata" src="{{ report.url ? report.url : '/assets/default_pic.png'}}"/>
          </div>
        </div>
      </li>
    </ul>

    <!-- if there are not reports.. -->
    <ng-template id="empty-list" #other_content> {{resultString}} </ng-template>

  </div>
</div>
