h1 {
  font-family: Roboto;
}

.title {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background: rgb(238, 238, 238);
  padding: 2em;
  border-radius: 4px;
  margin-bottom: 7px;
  display: grid;
}

p {
  padding-right: 10px;
  font-family: Roboto;
  padding-left: 10px;
  font-size: 14px;
}

div.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 35%;
}

div#fixed {
  padding: 10px;
}

div#scrollable {
  overflow-y: scroll;
  height: 100%;
  padding: 10px;
}

img {
  max-width:100%;
  max-height:100%;
}

.photo {
  width: 50%;
}

.info {
  width: 50%;
}

