<div class="sidebar">

  <div id="fixed">
    <h1>Segnalazioni</h1>
  </div>

  <div id="scrollable">

    <ul *ngIf="reports; else other_content">
      <li *ngFor="let report of reports" (click)="open(report)">
        <div class="row">
          <div class="info">
            <p class="title">{{ report.title }}</p>
            <p>{{report.date}} alle {{report.time}}</p>
            <p> {{ report.description.length>80? report.description.substring(0,80)+'...' : report.description }}</p>
          </div>
          <div class="photo">
            <img alt="Immagine non trovata"  src="{{ report.url != null ? report.url : '/assets/default_pic.png' }}"/>
          </div>
        </div>
        <!-- chiamata api che converte coordinate in indirizzo??? -->
      </li>
    </ul>

    <!-- if there are not reports.. -->
    <ng-template #other_content> Nessuna segnalazione presente </ng-template>

  </div>
</div>
