<div id="report-modal">
    <div class="modal-header">
        <h3 id="modal_report_title" class="modal-title"> {{report.title}} </h3>
        <button type="button" class="close" id="close-single-report-view" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <img id="report-image"
                src="{{ report.url ? report.url : '/assets/default_pic.png'}}">
        </div>

        <hr>
        <p>{{report.date}}, {{report.time}}</p>

        <hr>
        <p>Segnalato in {{report.address}}</p>

        <hr>
        <p id="modal_report_description">{{report.description}}</p>

        <hr>

        <div id="report-approval-status" class="row" *ngIf="isReportApproved()">
            <div id="report-approved-positive" *ngIf="report.approved_positive" class="alert alert-primary report-status">Questa segnalazione è stata approvata!</div>
            <div id="report-approved-negative" *ngIf="report.approved_negative" class="alert alert-danger report-status">Questa segnalazione ha ricevuto troppi voti negativi!</div>
        </div>
        <div id='vote-buttons' class="row" *ngIf="!isReportApproved()">
            <div class="col-md button-vote-col">
                <button id="button-vote-positive"
                        (click)="votePositive()"
                        class="btn {{this.hasUserVotedNegative() || this.doesUserOwnReport() ? 'btn-disabled' : 'btn-success'}} button-vote">
                    <i class="fa fa-thumbs-up"></i>
                </button>
            </div>
            <div class="col-md button-vote-col">
                <button id="button-vote-negative"
                        (click)="voteNegative()"
                        class="btn {{this.hasUserVotedPositive() || this.doesUserOwnReport() ? 'btn-disabled' : 'btn-danger'}} button-vote">
                    <i class="fa fa-thumbs-down"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    </div>
</div>
