
.modal-content p {
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
    padding-right: 5px;
    font-family: Roboto;
    font-size: 14px;
}

h5 {
    font-weight: bold;
}

#report-modal {
    padding:10px;
}

#report-image {
    width: 100%;
    height: auto;
}

:focus {
    outline: none;
}

.row {
    margin: 0;
}

img {
    max-height: 200px;
    max-width: 300px;
}