.user_logo {
    width: 30%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.user-ssn {
    font-weight: bold;
    font-size: 20px;
}

.user-mail {
    text-align: center;
}

.btn-logout{
    display:flex;
    align-items: center!important;
    justify-content: center!important;
}