.user_logo {
    width: 25%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn-logout{
    display:flex;
    align-items: center!important;
    justify-content: center!important;
}

p {
    font-style: italic;
}


.group {
    margin: 10px 0;
    /*
    border: blue solid 1px;
    border-radius: 10px;
    background-color: azure;
    */
}
