<img src="../../assets/user.png" alt="user_logo" class="user_logo">

<div class="group">
    <h4>Codice Fiscale</h4>
    <p id="profile-user-ssn">{{getUser().ssn}}</p>
</div>
<hr>
<div class="group">
    <h4>Bilancio</h4>
    <p id='profile-user-balance'><i class="fas fa-coins"></i> {{balance}} palanche</p>
    <!--<a id='profile-user-wallet-link' href="{{eth_url}}"><i class="fas fa-wallet"></i> Vai al wallet</a>-->
</div>
<hr>
<div class="group">
    <h4>Email</h4>
    <p id="profile-user-mail">{{getUser().email}}</p>
</div>
<hr>
<div class="btn-logout">
    <app-logout></app-logout>
</div>
