/* You can add global styles to this file, and also import other style files */

body {
  height:100%;
  width: 100%;
}

.btn-primary{
  background-color: #3F51B5;
  border-color: #3F51B5;
}

.modal-header {
  background-color: #3F51B5;
  color: white
}