/* You can add global styles to this file, and also import other style files */

body {
  height:100%;
  width: 100%;
}

.btn-primary{
  background-color: dodgerblue;
  border-color: dodgerblue
}

.modal-header {
  background-color: dodgerblue;
  color: white
}