/* You can add global styles to this file, and also import other style files */

.btn-primary{
  background-color: dodgerblue;
  border-color: dodgerblue
}

.modal-header {
  background-color: dodgerblue;
  color: white
}

html,body{
  height: 100vh;
  min-height:100vh;
  width: 100%;
  font-family: Roboto;
  padding: 0;
  margin: 0;
}